# Twilio Configuration
TWILIO_ACCOUNT_SID=AC71f6c9d17065387931404ffa77735354
TWILIO_AUTH_TOKEN=b1a40320d3663fc98b4b772711f90d91
TWILIO_WHATSAPP_FROM=whatsapp:+14155238886
TWILIO_WHATSAPP_TO=whatsapp:+556185783047

# Server Configuration
PORT=3000
NODE_ENV=development

# Webhook URL (usar ngrok em desenvolvimento)
WEBHOOK_URL=https://your-ngrok-url.ngrok-free.app
